@charset "UTF-8";

table {
	width: 80%; margin-left: auto; margin-right: auto;
}

a {
	text-decoration: none;
	color:inherit;
}

body {
	margin: 0;
	padding: 0;
}
/*여기서부터 추가*/	/*마진.패딩 상우하좌*/
.buser-inner-wrap {
    background: #f7f7f9;
    margin:0;
	padding:0;
	list-style-type:none;
}

.section-heading {
    position: relative;
    margin: 0;
    padding: 0;
}

.section-heading .section-heading-title {
    display: block;
    margin: 0;
    padding: 0 50px 0 50px;
    color: #333b43;
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: -1px;
}

.part-detail-info-content {
    color: #6e7179;
    font-size: 16px;
    line-height: 26px;
    word-wrap: break-word;
    padding:10px 50px 20px 50px;
}

.editor-wrap {
    font-size: 17px;
    color: #6e7179;
}

.editor-wrap .editor-tit {
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.45em;
    color: #2a2c2f;
}

.editor-wrap .editor-tit-sub {
    margin-top: 25px;
    font-size: 1.1em;
    font-weight: normal;
    color: #115bab;
}

/*네비바*/
.nav-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
	list-style-type:none;
}

.nav-item{
	padding: 15px;
	cursor: pointer;
}

.nav-item a {
	text-align: center;
	text-decoration: none;
	color: gray;
}

.nav-item a:hover {
	color: blue;
}

/*의료진 소개*/
.list_wrap{
	margin:10px 20px 0 0;
	padding:10px 20px 0 0;
}

ul, li{
	list-style: none;
}

.list_wrap ul{
	font-size: 0;
}

.list_wrap .item_d{
	display: inline-block;
	width:30%;
	margin-top:40px;
	margin-left:5%;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.list_wrap .item_d:nth-child(-n+3){
	margin-top:0;
}

.list_wrap .item_d:nth-child(3n-2){
	margin-left:0;
}

.list_wrap .item_d .image{
	width:100%;
	height:160px;
	background-color:#ddd;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
/*background:url(이미지경로)*/
.list_wrap .item1 .image{
	background-image:url('../images/kgb_d.jpg');
}
.list_wrap .item2 .image{
	background-image:url('../images/doctor_g.png');
}
.list_wrap .item3 .image{
	background-image:url('../images/doctor_m.png');
}
.list_wrap .item4 .image{
	background-image:url('../images/doctor_g.png');
}

.list_wrap .item_d .cont{
	padding:12px;
}

.list_wrap .item_d strong{/*스트롱 태그는 인라인 태그이기 떄문에 마진을 안먹어*/
	display: block;
	margin: 15px 0 10px 0;
	font-size:20px;
	letter-spacing:-1px; /*글자간격 줄이기*/
}

.list_wrap .item_d p{
	font-size:15px;
	letter-spacing:-1px;
}

.list_wrap .item_d a{
	display:inline-block;
	padding:10px;
	border:1px solid #ddd;
	font-size:10px;
	letter-spacing:-1px;
	transition: all 0.5s ease;
}

.list_wrap .item_d a:hover{
	background:blue;
	color:white;
}
