* {
	margin: 0;
	padding: 0;
}

.accordion {
	position: absolute;
	top: 78%;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
}

input[id*="answer"] {
	display: none;
}

input[id*="answer"]+label {
	display: block;
	padding: 20px;
	border: 1px solid #232188;
	border-bottom: 0;
	color: #fff;
	font-weight: 900;
	background: #1f4467;
	cursor: pointer;
	position: relative;
}

input[id*="answer"]+label em {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	display: inline-block;
	background: url("../images/arrow.png") 0 0 no-repeat;
}

input[id*="answer"]+label+div {
	max-height: 0;
	transition: all .35s;
	overflow: hidden;
	background: #ebf8ff;
	font-size: 16px;
}

input[id*="answer"]+label+div p {
	display: inline-block;
	padding: 20px;
}

input[id*="answer"]:checked+label+div {
	max-height: 100px;
}

input[id*="answer"]:checked+label em {
	background-position: 0 -30px;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

.contents ol {
	padding: 10px;
}

.contents ol ul {
	background: rgb(243, 248, 252);
	padding: 5px;
	margin-left: 20px;
}