@charset "UTF-8";

.nav {
	position: relative;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	float: right;
	vertical-align: middle;
	z-index: 2;
}

.nav li {
	display: inline-block;
	list-style: none;
}

.nav .button-dropdown {
	position: inherit;
	width: 130px;
}

.nav li a {
	display: block;
	color: #333;
	background-color: #fff;
	padding: 10px 20px;
	text-decoration: none;
}

.nav li a span {
	display: inline-block;
	margin-left: 5px;
	font-size: 10px;
	color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
	background-color: #289dcc;
	color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
	color: #fff;
}

.nav li .dropdown-menu {
	display: none;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	margin-top: 3px;
	text-align: left;
	width: 130px;
}

.nav li .dropdown-menu.active {
	display: block;
}

.nav li .dropdown-menu a {
	width: 130px;
}

.inner-wrap {
	background: transparent;
}