@charset "UTF-8";

.navs {
	position: relative;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	float: right;
	vertical-align: middle;
	z-index: 2;
}

.navs li {
	display: inline-block;
	list-style: none;
}

.navs .button-dropdowns {
	position: inherit;
	width: 130px;
}

.navs li a {
	display: block;
	color: #333;
	background-color: #fff;
	padding: 10px 20px;
	text-decoration: none;
}

.navs li a span {
	display: inline-block;
	margin-left: 5px;
	font-size: 10px;
	color: #999;
}

.navs li a:hover, .navs li a.dropdowns-toggle.active {
	background-color: #289dcc;
	color: #fff;
}

.navs li a:hover span, .navs li a.dropdowns-toggle.active span {
	color: #fff;
}

.navs li .dropdowns-menu {
	display: none;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	margin-top: 3px;
	text-align: left;
	width: 130px;
}

.navs li .dropdowns-menu.active {
	display: block;
}

.navs li .dropdowns-menu a {
	width: 130px;
}

.inner-wrap {
	background: transparent;
}

.pages{
	text-align: center;
	width: 50%;
}
.paginations {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
}
.paginations li{
	display: inline;
	text-align: center;
}

.paginations a{
	float: left;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
}

.first {
	margin-right:15px;
}

.last{
	margin-left: 15px;
}

.first:hover, .last:hover, letf:hover, .right:hover{
	color:#2e9cdf;
}

.paginations a.active{
	cursor:default;
	color:#ffffff;
}

.paginations a:active{
	outline: none;
}

.modals .num{
	margin-left: 3px;
	padding : 0;
	width : 30px;
	height: 30px;
	line-height: 30px;
	-moz-border-radius : 100%;
	-wedkit-border-radius:100%;
	border-radius: 100%; 
}

.modals .num:hover{
	background-color: #2e9cdf;
	color: #ffffff;
}

.modals .num.active, .modals .num:active{
	background-color: #2e9cdf;
	cursor: pointer;
} 

.arrow-left{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid blue;
}